<form action="bands_url" method="POST">
  <label for"band_name">Band name:</label>
  <input type="text"
          name="band[name]"
          id="band_name"
          value="<%= @band.name %>"> 
  </input>
  <br>
  <input type="submit" value="Add band">

</form>