<h1>Bands</h1>


<ul class="links">
  <section class="band-links">
    <% @bands.each do |band| %>
      <a href="<%= band_url(band) %>"><%= band.name %></a>
    <% end %>
  </section>
</ul>

<h2>Links</h2>

<section class="create-band">
<a href="<%= new_band_url %>">New band</a>
</section>