<h2>Created bands</h2>

<section class="band-index">
    <% @bands.each do |band| %>
      <div class="band-index-item" id="band-index-item">
        <div>
          <a href="<%= band_url(band) %>"><%= band.name %></a>
        </div>
      </div>
    <% end %>
  </section>