<h1>Cat Rental Request</h1>

<form action="<%= cat_rental_requests_url %>" method="post">

  <label for="cat-rental_request_id">Select a Cat</label>

  <select id="cat_rental_request_cat_id" name="cat_rental_request[cat_id]">
    
    <option disable selected="-- Choose a Cat --">-- Choose a Cat --</option>
      <% Cat.all.each do |cat| %>
        <option value=<%= cat.id %>><%= cat.name %>
        </option>

      <% end %>
  </select>
  
  <br />
  <br />

  <label for="requested_start_date">Request Start Date</label>
    <input 
        type="date"
        id="date-field"
        name="cat_rental_request[start_date]"
        value="cat_rental_request.start_date" />
  </label>

  <br />
  <br />

  <label for="requested_end_date">Request End Date</label>
  <input 
      type="date"
      id="date-field"
      name="cat_rental_request[end_date]"
      value="cat_rental_request.end_date" />
  </label>

  <br />
  <br />

  <input type="submit">
</form>

