<h1>All the Cats</h1>

<section class="cat-index">
    <% @cats.each do |cat| %>
      <div class="cat-index-item">
        <div>
          <img src="https://media4.giphy.com/media/H4DjXQXamtTiIuCcRU/giphy.gif" >
          <br /><a href="<%= cat_url(cat) %>">Rent <%= cat.name %></a>
        </div>
      </div>
    <% end %>
  </section>