<h1>All the Cats</h1>

<section class="cat-index">
    <% @cats.each do |cat| %>
      <div class="cat-index-item">
        <div>
          <img src="https://avatarfiles.alphacoders.com/124/thumb-1920-124420.jpg" >
          <br /><a href="<%= cat_url(cat) %>">Rent <%= cat.name %></a>
        </div>
      </div>
    <% end %>
  </section>