<h1>Add Cat to Library</h1>

<form action="/cats" method="POST">
  <label for="name-field">Name</label>
  <input type="text" id="name-field" name="cat[name]"/>

  <br />
  <br />

  <label>Choose one option:</label>
  <label for="male">Male</label>
  <input type="radio" id="male" value="M" name="cat[sex]"/>
  
  <label for="female">Female</label>
  <input type="radio" id="female" value="F" name="cat[sex]"/>

  <br />
  <br />

  <label for="color-field">Color</label>
  <select id="color-field" name="cat[color]">
    <option selected="-- Choose a Color --">-- Choose a Color --</option>
    <option>Orange</option>
    <option>Black</option>
    <option>Tabby</option>
    <option>Tuxedo</option>
    <option>Dilute-tortie</option>
    <option>Grey</option>
    <option>White</option>
    <option>Calico</option>
  </select>

  <br />
  <br />

  <label for="date-field">Birth-date</label>
  <input type="date" id="date-field" name="cat[birth_date]" />

  <br />
  <br />

  <label for="description-field">Description</label>
  <br />
  <textarea name="cat[description]" id="description-field">
  </textarea>

  <br />
  <br />

  <input type="submit" value="Add Cat to Library" />
</form>