<h1>Add Cat to Library</h1

<form action="index.html" method="post">
  <label for="name-field">Name</label>
  <input type="text" id="name-field" />
  <br /> <br />

  <label>Choose one option: </label>
  <label for="male">Male</label>
  <input type="radio" name="sex" id="male" value="M" />
  
  <label for="female">Female</label>
  <input type="radio" name="sex" id="female" value="F" />

  <br /> <br />

  <label for="color-field">Color</label>
  <select>
    <option selected = "-- Choose a Color --">-- Choose a Color --</option>
    <option>Orange</option>
    <option>Black</option>
    <option>Brown</option>
    <option>Tuxedo</option>
    <option>Dilute-tortie</option>
    <option>Grey</option>
    <option>White</option>
    <option>Calico</option>
  </select>
  <br /> <br />
  <label for="date-field">Birth-date</label>
  <input type="date" id="date-field" />
  <br /> <br />

  <textarea name ="description" form ="catform"></textarea>
</form>