<h2><%= @track.name %></h2>

<h2>Links</h2>
  
<ul class="links">
<section class="links">
  <a href="<%= edit_track_url(@track) %>">Edit track</a>
  <a href="<%= album_url %>">Back to album</a>
</section>
</ul>

