<h1>Log in</h1>

<form action="<%= new_session_url %>">

  <label for="username" name="user[username]">Username:</label>
  <input type="text" name="user[username]" />
  <label for="password" name="user[password]">Password:</label>
  <input type="password" name="user[password]" />

  </form>