/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
}

button {
  font-weight: bold;
	padding: 5px;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
  text-align: center;
  margin: 5px;
}

#subscribe-button, #login-button {
  background-color: $light-blue;
	border-color: $light-blue;
  color: $lightest-gray;
  transition: 0.4s;
  border-radius: 3px;
  margin-right: 10px;
}

#subscribe-button:hover, #login-button:hover {
	background-color: $darkest-blue;
  border-color: $darkest-blue;
}

#sections-sidebar-btn, #search-modal-btn, #settings-button {
  background-color: none;
  transition: 0.4s;
  border-radius: 3px;
  margin-right: 15px;
}

#sections-sidebar-btn:hover, #search-modal-btn:hover, #settings-button:hover {
  background-color: $light-gray;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 50px;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
