<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button"><i class="fa fa-bars"></i><span> sections</span>
        </button>
			</li>
      <li id="search-modal-btn">
        <button type="button"><i class="fa fa-search"></i><span> search</span>
        </button>
			</li>
		</ul>
  </nav>
  
  <nav class="right-nav">
    <ul>
      <li id="subscribe-button">
        <button type="button">subscribe now</button>
      </li>
      <li id="login-button">
        <button type="button">log in</button>
      </li>
      <li id="settings-button">
        <button type="button"><i class="fas fa-cog"></i></button>
      </li>
      </ul>
  </nav>
</header>