<nav class="language-links">
  <ul>
    <li id="css">CSS</li>
    <li id="html">HTML</li>
    <li id="javascript">Javascript</li>
    <li id="ruby">Ruby</li>
  </ul>
</nav>

<ul class="masthead-links">
  <li id="date">Tuesday, October 18, 2016</li>
  <li id="today"><a href="google.com">Today’s Paper</a></li>
  <li id="video"><a href="google.com">Video</a></li>
  <li id="temperature"><button type="button">77°F</button></li>
  <li id="weather"><button type="button">AAO +100%</button></li>
</ul>
