<div class="languages">
  <ul class="language-nav">
    <li id="css"><a href="google.com">CSS</a></li>
    <li id="html"><a href="google.com">HTML</a></li>
    <li id="javascript"><a href="google.com">Javascript</a></li>
    <li id="ruby"><a href="google.com">Ruby</a></li>
  </ul>
</div>

<img src="assets/AA_Times_Logo.png" id="logo"></img>

<ul class="masthead-links">
  <li id="date">Tuesday, October 18, 2016</li>
  <li id="today"><a href="google.com">Today’s Paper</a></li>
  <li id="video"><a href="google.com">Video</a></li>
  <li id="temperature"><button type="button">77°F</button></li>
  <li id="weather"><button type="button">AAO +100%</button></li>
</ul>
