<div class="sections">
  <ul class="section-links">
    <li id="world"><a href="google.com">World</a></li>
    <li id="san-francisco"><a href="google.com">San Francisco</a></li>
    <li id="bootcamp-prep"><a href="google.com">Bootcamp Prep</a></li>
    <li id="jumpstart"><a href="google.com">Jumpstart</a></li>
    <li id="online"><a href="google.com">Online</a></li>
    <li id="marketing"><a href="google.com">Marketing</a></li>
    <li id="sales"><a href="google.com">Sales</a></li>
    <li id="talent-match"><a href="google.com">TalentMatch</a></li>
    <li id="alumni"><a href="google.com">Alumni</a></li>
    <li id="all"><a href="google.com">All</a></li>
  </ul>
</div>