<h1><%= @sub.title %></h1>

<div class="sub_description">
  <h4>Description:</h4>

  <%= @sub.description %> ////
  
  <a href="<%= new_post_url %>">Make new post!</a>

  <% @posts.each do |post| %>
    <%= post.title %>
  <% end %>
</div>

