html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 630px;
}

h1 {
  font-family: Open sans;
  font-size: 28px;
  background-position-y: 20%;
  display: block;
  margin: 20px;
}

div {
  display: block;
}

.clock {
  font-family: Orbitron;
  font-size: 28px;
  background-color: orange;
  border: 2px solid black;
  color: white;
  margin: 0 20px 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 94px;
  background-position-y: 20%;
  justify-content: space-between;
  text-align: center;
}

.clock > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tabs-container {
  border: 2px solid black;
  width: 100px;
  height: 192px;
  list-style: none;
  background-position-y: 20%;
  margin: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: space-between;
  background-color: lightblue;
}

.headers {
  background-color: purple;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* .tabs-class > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
} */

.headers > li:hover {
  background-color: black;
  color: white;
}

.tabs-container {
  width: 100%;
  /* border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */
  /* border-bottom: 2px solid black; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
