<h3>New User</h3>

<form action="<%= users_path %>" method="post">

<label for="username-field">Username</label>
<input 
  type="text" 
  id="username-field" 
  name="user[username]" 
  value="<%= @user.username %>">
<br>


<label for="password-field">Password</label>
<input 
  type="text"
  id="password-field"
  name="user[password]"
  value="<%= @user.password %>">
<br>

<input type="submit">