<h2><%= @album.title %></h2>
Track name
<br>
<h2>Links</h2>
  
<ul class="links">
<section class="band-links">
  <a href="<%= edit_album_url(@album) %>">Edit album</a>
  <a href="<%= bands_url %>">Back to all bands</a>
</section>
</ul>



