<h2><%= @album.title %></h2>
Track name
<br>
<h2>Links</h2>
  
<div>
  New track
  <nav id="edit-album">
  <a href="<%= edit_album_url %>">Edit album</a>
  </nav>
  Destory album
  Back to band
</div>