/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  overflow: hidden;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

a.title-link {
  font-family: kiona;
  font-size: 50px;
  text-decoration: none;
  margin-left: 10px;
}

a.nav-link {
  font-family: arial;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

body {
  font-family: helvetica;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');}

nav {
  font-family: helvetica;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: row;
}

form {
  align-items: center;
}

.centered-box {
  width: 500px;
  margin: 50px 0;
  background-color: #009999;
  text-align: center;
  padding: 50px;
}

ul {
  display: flex;
  margin-top: -40px;
  margin-right: 50px;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 5px;
  list-style: none;
}