/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  overflow: hidden;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

a.title-link {
  font-family: kiona;
  font-size: 50px;
  text-decoration: none;
}

a.nav-link {
  font-family: arial;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

body {
  font-family: helvetica;
}

nav {
  font-family: helvetica;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

li {
  list-style: none;
}

form {
  align-items: center;
}

.centered-box {
  width: 500px;
  margin: 50px 0;
  background-color: #009999;
  text-align: center;
  padding: 50px;
}