/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, ul, li, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: kiona;
  text-align: center;
}

header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

a.title-link {
  font-family: kiona;
  font-size: 50px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
}

a.nav-link {
  font-family: helvetica neue;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #514A9D;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-family: kiona;
}

body {
  font-family: raleway;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

nav#links {
  font-family: helvetica;
  font-size: 15px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  color: white;
}

nav ul {
  display: flex;
  margin-top: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

input[type=submit] {
  font-family: antic didone;
}

input[type=text] {
  font-family: antic didone;
}

input[type=radio] {
  display: inline;
}

#edit-band {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#edit-band a {
  background-color: #514A9D;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-family: kiona;
}

#edit-album {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#edit-album a {
  background-color: #514A9D;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-family: kiona;
}

main h2 {
  text-align: center;
}

logged-in-out-links {
  color: white;
}

form > input {
  margin-bottom: 20px;
}

.band-index a {
  background-color: #514A9D;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-family: kiona;
}