body,
h1,
p,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
  text-align: center;
  padding: 10px;
}

.board {
  margin: 10px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  border: 1px solid pink;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
