body,
h1,
p,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: uni sans;
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

h1 {
  /* color: white; */
}

p {
  font-weight: bold;
  font-size: 20px;
  /* color: white; */
}

.board {
  margin: 10px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1 px solid #3a47d5;
}

.tile {
  background-color: #3a47d5;
  display: flex;
  flex-direction: row;
  text-align: center;
  /* border: 1px solid #3a47d5; */
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-style: outset;
  vertical-align: middle;
  line-height: 40px;
}

.tile-explored {
  border-style: inset;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-family: uni sans;
  font-weight: bold;
  /* color: white; */
}

.tile-bombed {
  background-color: red;
  border-style: inset;
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.tile-flagged {
  border-style: inset;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
