/* PHASE 1: Header */

.body {
  font-family: helvetica, sans-serif;
  line-height: 2;
  font-size: 20px;
  color: blue;
}

li {
  list-style: none;
}
ul {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 30px;
}

#links li {
  display: inline-block;
}