/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: roboto;
  font-weight: bold;
  background-color: #a0c5c9;
  display: block;
  align-items: center;
  justify-content: center;
}

header {
  height: 150px;
  font-family: roboto;
  font-weight: bold;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}


.home_link {
  font-size: 50px;
  float: left;
  padding: 10px;
}

li {
  list-style: none;
}

.logged_out_links, .logged_in {
  display: block;
  float: right;
  padding: 3px;
}

h1 {
  font-size: 35px;
}

form {
  font-size: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
}