#settings-menu {
  position: absolute;
  background-color:white;
  opacity: 0;
  height: 0;
  font-family: $sans-serif;
  font-size: 13px;
  border: 1px solid $lightest-gray;
  width: 90px;
  border-radius: 3px;
  z-index: 1;
  text-align: left;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
}

#settings {
  transition: all 0.3s ease-in-out;
}

#settings-button:focus {
  -webkit-box-shadow: 6px 0px 7px 0px #DCD8EA; 
  box-shadow: 6px 0px 7px 0px #DCD8EA;
}

#settings:hover > #settings-menu, #settings-button:focus + #settings-menu {
  display: block;
  opacity: 1;
  height: 200px;
  transition: all 0.3s ease-in-out;
}

.dropdown-subtitle {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 10px 5px;
  display: block;
}

.editions {
  position: relative;
  margin: 10px 5px;
}

.help {
  color: blue;
  text-decoration: underline;
  margin: 10px 5px;
  cursor: pointer;
}

