.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: row;
}

.left-nav {
  > ul {
    > li {
      font-family: $serif;
      font-size: 11px;
    }
  }

  span {
  }
}

.right-nav  {
  > ul {
    > li {
    }

    > li:last-of-type {
    }
  }
  
  i {
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.right-nav > ul > li:last-of-type {
}