<form>
  <div class="post_style">
    <label for="title">Title:</label>
    <input type="text" name="post[title]" />

    <label for="url">URL:</label>
    <input type="text" name="post[url]" />

    <label for="content">Content:</label>
    <input type="text" name="post[content]"

    <input type="submit">
  </div>

</form>