<h1><%= @post.title %></h1>

<div class="post_details">
  <h4>Content:</h4>

  <%= @post.content %>

  <h4>Subs:</h4>

  <ul>
    <% @subs.each do |sub| %>
      <li><%= sub.title %></li>
    <% end %>
  </ul>

  <h4>Comments:</h4>
  <ul>
      <li><a href="#">Comment on This Post!</a></li>
  </ul>

  <a href="<%= edit_post_url %>">Edit</a>
</div>
