<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div id="title"><a href="www.google.com" class="title-link">99 Cats</a></div>  

      <nav id="links">
        <ul>
          <li><a href="www.google.com" class="nav-link">Sign in</a></li>
          <li><a href="www.google.com" class="nav-link">Sign up</a></li>
        </ul>
      </nav>
    </header>


    <section>
      <%= yield %>
    </section>
      
  </body>
</html>
